.list-group-item {
  padding-left: 10px;
}

.list-group-item {
  span {
    padding-left: 10px;
  }
}

.checked {
  text-decoration: line-through;
  background-color: #E0E0E0;

  &:hover {
    background-color: #E0E0E0;
  }
}

.done {
  background-color: lighten(#207ab7, 30%);

  span:nth-child(2) {
    text-decoration: line-through;
  }
}